<div class="basic-grey">
  <p style="color: green"><%= notice %></p>

  <h1><%= "#{t('messages.listing')} #{@contacts.model.model_name.human(count: 2)}"%></h1>
  
  <%= link_to t('buttons.new'), new_contact_path, :class => "button" %>

  <div id="contacts">
    <% @contacts.each do |contact| %>
      <%= render contact %>
      <p>
        <%= link_to t('buttons.show'), contact, :class => "button" %>
      </p>
    <% end %>
  </div>

</div>
