<p style="color: green"><%= notice %></p>

<%= render @contact %>

<div>
  <%= link_to t('buttons.edit'), edit_contact_path(@contact) %> |
  <%= link_to t('buttons.back'), contacts_path %>

  <%= button_to t('buttons.destroy'), @contact, method: :delete, data: { confirm: t('messages.confirm')} %>
</div>
